body {
	background-color: #EFEFEF;
	color: white;
	font-family: "Arial Black" ;
}

.foto img{
display: block;
margin: auto;
margin-top: 20px;
margin-bottom: 20px;
padding-top: 150px;
width: 1180px;
height: 450px;

}


.completa{
font-size: 1.5em;
margin-top: 20px;
padding-left: 140px;
padding-top: 150px;
font-family: "Bahnschrift Condensed";
color: #3C3C3C;
}

.menu{

	width: 100%;
	height: 150px;
	background-color: #23AEC5;
	position: fixed;
	top: 0;
	left: 0;
}

.menu nav{
	background-color: white;
	position: absolute;
	bottom: 0;
	height: 50px;
	width: 100%;
	line-height: 50px;
	text-align: center;
}

#logo img{
	width: 110px;
	height: 100px;
	position: absolute;
	

}

.menu h1{
position: absolute;
	padding-left: 130px;
	
}


.bsas{
	float: right;
	margin: 10px;
	line-height: 1;
	font-family: "Bahnschrift";
text-align: center;
padding-top: 16px;
}
#ba {
	text-transform: uppercase;
	letter-spacing: 3px;
    text-align: center;
    font-size: large;

}

a: visited{
	text-decoration: none;
}

a{
	color: #23AEC5;
	font-family: "Arial Black" ;
	text-decoration: none;
	padding: 10px 15px;
	display: inline-block;
	line-height: 1;
	
}

td {
 
 padding: 20px;
    text-align: center;
 }

table{
	text-align: center;
}

#sin{
color: white;
	background-color: #23AEC5;
	margin-right: 300px;
	margin-left: 300px;

}

.menu nav a:after {
content: "";
display: block;
margin: auto;
height: 2px;
width: 0px;
transition: all .4s;
}
.menu nav a:hover:after {
width: 100%;

background: #23AEC5;
}

h4{
	font-family: "Bahnschrift Condensed" ;
	color: #3C3C3C;
}

h2{
	font-family: "Bahnschrift Condensed" ;
	color: #3C3C3C;
	text-align: center;
}

.titulo{
font-size: 2em;
margin-top: 100px;
}

.texto{
	padding-left: 100px;
	padding-right: 100px;
}

.pie{
	position: sticky;
	bottom: 0;
	background-color: #EFEFEF;
	
}



.registro{

width: 400px;
background-color: #F8F8F8;
padding: 30px;
margin: auto;
margin-top: 20px;
padding-left: 80px;
padding-right: 80px;
border-radius: 5px;
box-shadow: 7px 10px 10px #D6D6D6;
font-family: "Bahnschrift";
color: #3C3C3C;
}

.registro h1{
	left: 0;
}

#texto{
margin-top: 45px;
margin-bottom: 7px;
}

.bloque{
padding: 5px;
border-radius: 5px;
border-color: white;
border-style: none;
font-size: 0.90em;

}
#boton{
	padding: 14px 100px 14px 100px;
	background-color: #FF0D74;
	color: #F8F8F8;
	font-size: 18px;
	font-family: "Arial Black";
	margin-left: 55px;
	margin-top: 20px;
	border-radius: 50px;

}
